.container{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  border: 2px dotted orange;
  /* margin-top: 25vh; */
}
.form {
  margin: auto;     
    position: relative;
    align-items: flex-start;
    justify-content: center;
    width: 35vw;
    box-shadow: 1px 1px 5px 5px rgb(200, 200, 200,0.5);
    border-radius:5px;
    
  }